.container {
  margin-top: 20px;
  width: 100px;
}
.command {
  background-color: #E1E1E1;
  border-color: #E1E1E1;
}

.equals, .operator {
  background-color: orange;
}

.cell {
  background-color: #FCFCFC;
}

.ui.input>input {
  pointer-events: none;
}